table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
}
body{
        background-color: rgb(177, 185, 183);
}
select, input{
    justify-content: center;
    align-self: auto;
    font: bold 16px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 5px 4px 5px 4px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
button{
       	align-self: auto;
        font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 20px 16px 20px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.buttonwrap{
	float: left;
        bottom:1700px;
        left:42%;
        position:relative;
        margin-top:100%;
        text-align: center;
}

